/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
b {
  font-weight: 600;
}
/**
* Mixins
*/
#container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
body {
  background-image: url(/img/background.png);
}
html,
body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: -1px;
}
/**
* header
*/
header {
  position: relative;
  width: 100%;
  background-color: #98252f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cc1525), to(#98252f));
  /* Konqueror */

  background-image: -moz-linear-gradient(#cc1525, #98252f);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#cc1525, #98252f);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc1525), color-stop(100%, #98252f));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#cc1525, #98252f);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#cc1525, #98252f);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1525', endColorstr='#98252f', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1525', endColorstr='#98252f', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#cc1525, #98252f);
  /* the standard */

  border-bottom: 1px solid #8c222b;
}
header #logo {
  background-image: url(/img/logo.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 5px;
  margin: auto;
  height: 40px;
  max-width: 100px;
}
