/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
b {
  font-weight: 600;
}
/**
* Mixins
*/
#container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
body {
  background-image: url(/img/background.png);
}
html,
body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: -1px;
}
/**
* header
*/
header {
  position: relative;
  width: 100%;
  background-color: #98252f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cc1525), to(#98252f));
  /* Konqueror */

  background-image: -moz-linear-gradient(#cc1525, #98252f);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#cc1525, #98252f);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc1525), color-stop(100%, #98252f));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#cc1525, #98252f);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#cc1525, #98252f);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1525', endColorstr='#98252f', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1525', endColorstr='#98252f', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#cc1525, #98252f);
  /* the standard */

  border-bottom: 1px solid #8c222b;
}
header #logo {
  background-image: url(/img/logo.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 5px;
  margin: auto;
  height: 40px;
  max-width: 100px;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
}
#overlay #info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 10px;
  height: 23px;
  width: 50px;
  padding: 24px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#overlay #info span {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  display: block;
  color: white;
  line-height: 20px;
  font-size: 17px;
}
#overlay #info #loading {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/img/loading.gif);
  background-origin: content-box;
  top: 9px;
  left: 16px;
  height: 25px;
  width: 25px;
  padding: 5px;
}
#overlay #error {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -100px;
  border-radius: 10px;
  height: 60px;
  width: 180px;
  padding: 15px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
}
#overlay #caption {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -120px;
  border-radius: 10px;
  height: 180px;
  width: 240px;
  padding: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 22px;
}
#overlay #caption #close {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 25px;
  width: 25px;
  padding: 2px;
  background-image: url(/img/close.png);
  background-color: white;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-size: 100%;
}
#overlay #caption #title {
  display: block;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
}
#overlay #caption textarea {
  width: 190px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  resize: none;
}
#overlay #caption #submit {
  display: block;
  font-size: 20px;
  width: 190px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
  border: solid 1px #8c222b;
  background-color: #951924;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b52c38), to(#951924));
  /* Konqueror */

  background-image: -moz-linear-gradient(#b52c38, #951924);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#b52c38, #951924);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b52c38), color-stop(100%, #951924));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#b52c38, #951924);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#b52c38, #951924);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#951924', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#951924', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#b52c38, #951924);
  /* the standard */

}
/**
* Header
*/
header {
  z-index: 1;
}
header #logo {
  height: 30px;
}
header #toolbar {
  z-index: 10;
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: #bd2e3b;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b52c38), to(#bd2e3b));
  /* Konqueror */

  background-image: -moz-linear-gradient(#b52c38, #bd2e3b);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#b52c38, #bd2e3b);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b52c38), color-stop(100%, #bd2e3b));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#b52c38, #bd2e3b);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#b52c38, #bd2e3b);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#b52c38, #bd2e3b);
  /* the standard */

  height: 20px;
  line-height: 17px;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  padding: 5px 11px;
  border: solid 1px #8c222b;
}
header #back {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: #bd2e3b;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b52c38), to(#bd2e3b));
  /* Konqueror */

  background-image: -moz-linear-gradient(#b52c38, #bd2e3b);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#b52c38, #bd2e3b);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b52c38), color-stop(100%, #bd2e3b));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#b52c38, #bd2e3b);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#b52c38, #bd2e3b);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#b52c38, #bd2e3b);
  /* the standard */

  height: 20px;
  line-height: 17px;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  padding: 5px 11px;
  border: solid 1px #8c222b;
}
header #save {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #bd2e3b;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b52c38), to(#bd2e3b));
  /* Konqueror */

  background-image: -moz-linear-gradient(#b52c38, #bd2e3b);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#b52c38, #bd2e3b);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b52c38), color-stop(100%, #bd2e3b));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#b52c38, #bd2e3b);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#b52c38, #bd2e3b);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#b52c38, #bd2e3b);
  /* the standard */

  height: 20px;
  line-height: 17px;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  padding: 5px 11px;
  border: solid 1px #8c222b;
}
footer {
  margin-top: 20px;
  border-top: dashed 1px #b52c38;
  height: 30%;
  background-color: #e5e5e5;
}
#slider {
  display: none;
  opacity: 0;
  z-index: 1;
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px #b2b2b2;
  top: 40px;
  left: -2px;
  width: 200px;
  height: 200px;
}
#slider .box {
  margin: 5px;
  height: 40px;
  border-bottom: solid 1px #e5e5e5;
  padding: 5px;
}
#slider .box a {
  display: block;
  font-size: 20px;
  height: 20px;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
  float: left;
}
#slider .box .button {
  border-radius: 5px;
  margin-left: 5px;
  float: right;
  width: 40px;
  height: 40px;
  border: solid 1px #e5e5e5;
}
#slider .box .button.active {
  background-color: #b52c38;
  border: solid 1px #b52c38;
}
#slider .box .button.active .pensize {
  background-color: white;
}
#slider .box .button .pensize {
  background-color: black;
  border-radius: 100px;
  position: relative;
}
#slider .box .button.small .pensize {
  top: 18px;
  height: 5px;
  width: 5px;
  margin: auto;
}
#slider .box .button.medium .pensize {
  top: 16px;
  height: 10px;
  width: 10px;
  margin: auto;
}
#slider .box .button.large .pensize {
  top: 12px;
  height: 17px;
  width: 17px;
  margin: auto;
}
#slider .box .button.xlarge .pensize {
  top: 8px;
  height: 23px;
  width: 23px;
  margin: auto;
}
#slider #colors a {
  width: 100%;
  margin-bottom: 10px;
}
#slider #colors .color {
  height: 35px;
  width: 35px;
  margin: 3px 2px;
  float: left;
  border: solid 1px;
  border-radius: 10px;
}
/**
* main
*/
#main {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 50px;
}
#canvas {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}
#canvas.ready {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
}
.once {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.after {
  padding-bottom: 50px;
}
#palette {
  margin: 0px 5px;
  height: 50px;
  background-color: white;
}
#palette #tools .color {
  height: 30px;
  width: 30px;
  margin: 10px 2px;
  float: left;
  border: solid 1px;
  border-radius: 10px;
}
#palette #tools .button {
  float: right;
  margin: 5px 0px;
  height: 30px;
  padding: 5px;
  width: 30px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100%;
}
#palette #tools #reset {
  background-image: url(/img/trash.png);
}
#palette #tools #erase {
  background-image: url(/img/eraser.jpg);
}
#black {
  color: #000000;
  background-color: #000000;
}
#brown {
  color: #1d1110;
  background-color: #3d2423;
}
#red {
  color: #780f0f;
  background-color: #a61414;
}
#green {
  color: #0b7023;
  background-color: #109e31;
}
#yellow {
  color: #c4af00;
  background-color: #f7dd00;
}
#blue {
  color: #113479;
  background-color: #1747a6;
}
#white {
  color: #ffffff;
  background-color: #ffffff;
  border: solid 1px #7f7f7f !important;
}
/*!
  Path 2.0 Flyout Menu using CSS
  Contributed to Path by Tunghsiao Liu
  sparanoid.com
*/
/*!
*/
:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
#testfield {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#testfield .flyout-wrap {
  height: 191px;
  position: relative;
}
#testfield .flyout-wrap .flyout {
  position: relative;
  margin: 0 0 1px 6px;
  line-height: 0;
  padding: 0;
}
#testfield .flyout-wrap .flyout > li {
  position: absolute;
  right: 35px;
  background: yellow;
  height: 170px;
  display: block;
  -webkit-transform-origin: 12.5px bottom;
  -moz-transform-origin: 12.5px bottom;
  transform-origin: 12.5px bottom;
}
#testfield .flyout-wrap .flyout > li:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#testfield .flyout-wrap .flyout > li:nth-of-type(2) {
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
#testfield .flyout-wrap .flyout > li:nth-of-type(3) {
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  transform: rotate(-36deg);
}
#testfield .flyout-wrap .flyout > li:nth-of-type(4) {
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
#testfield .flyout-wrap .flyout > li:nth-of-type(5) {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
}
#testfield .flyout-wrap .flyout > li:nth-of-type(6) {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#testfield .flyout-wrap .flyout > li a {
  position: absolute;
  display: block;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  border: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.5) 0 0 2px 0;
  text-indent: -99999px;
  overflow: hidden;
  background: #444;
}
#testfield .flyout-wrap .flyout > li a:active {
  background: #000;
  border-color: #555;
}
#testfield .flyout-wrap .flyout > li a:active span {
  opacity: .3;
}
#testfield .flyout-wrap .flyout > li a span {
  display: block;
  height: 26px;
  width: 26px;
}
#testfield .flyout-wrap .flyout > li a.zoom-out-button span {
  background: url(/img/senceui/draw/button-04.png) no-repeat center center;
  background-size: 18px 18px;
}
#testfield .flyout-wrap .flyout-init li {
  display: none;
}
#testfield .flyout-wrap .flyout.expand li a {
  -webkit-animation: expand 0.6s ease 1 backwards;
  -moz-animation: expand 0.6s ease 1 backwards;
  -ms-animation: expand 0.6s ease 1 backwards;
  -o-animation: expand 0.6s ease 1 backwards;
  animation: expand 0.6s ease 1 backwards;
  top: 30px;
}
#testfield .flyout-wrap .flyout li a {
  -webkit-animation: contract 0.35s ease-out 1 backwards;
  -moz-animation: contract 0.35s ease-out 1 backwards;
  -ms-animation: contract 0.35s ease-out 1 backwards;
  -o-animation: contract 0.35s ease-out 1 backwards;
  animation: contract 0.35s ease-out 1 backwards;
  top: 150px;
}
#testfield .flyout-wrap .flyout.fade li a.clicked {
  -webkit-animation: clicked 0.5s ease-out 1 forwards;
  -moz-animation: clicked 0.5s ease-out 1 forwards;
  -ms-animation: clicked 0.5s ease-out 1 forwards;
  -o-animation: clicked 0.5s ease-out 1 forwards;
  animation: clicked 0.5s ease-out 1 forwards;
  top: 30px;
}
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) {
  -webkit-animation: fade 0.5s ease-out 1 forwards;
  -moz-animation: fade 0.5s ease-out 1 forwards;
  -ms-animation: fade 0.5s ease-out 1 forwards;
  -o-animation: fade 0.5s ease-out 1 forwards;
  animation: fade 0.5s ease-out 1 forwards;
  top: 30px;
}
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) span {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: .1;
}
#testfield .flyout-wrap .flyout.fade li a:not(.clicked) span {
  opacity: .1;
  -webkit-transition: opacity 1.5s ease;
}
#testfield .flyout-wrap .flyout li:nth-of-type(1) a {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(2) a {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(3) a {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(4) a {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(5) a {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(6) a {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
#testfield .flyout-wrap .flyout li:nth-of-type(1) a:not(.clicked) span {
  -webkit-animation: spin1-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin1-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin1-contract 0.9s ease-out 1 backwards;
  -o-animation: spin1-contract 0.9s ease-out 1 backwards;
  animation: spin1-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout li:nth-of-type(2) a:not(.clicked) span {
  -webkit-animation: spin2-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin2-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin2-contract 0.9s ease-out 1 backwards;
  -o-animation: spin2-contract 0.9s ease-out 1 backwards;
  animation: spin2-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout li:nth-of-type(3) a:not(.clicked) span {
  -webkit-animation: spin3-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin3-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin3-contract 0.9s ease-out 1 backwards;
  -o-animation: spin3-contract 0.9s ease-out 1 backwards;
  animation: spin3-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout li:nth-of-type(4) a:not(.clicked) span {
  -webkit-animation: spin4-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin4-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin4-contract 0.9s ease-out 1 backwards;
  -o-animation: spin4-contract 0.9s ease-out 1 backwards;
  animation: spin4-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout li:nth-of-type(5) a:not(.clicked) span {
  -webkit-animation: spin5-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin5-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin5-contract 0.9s ease-out 1 backwards;
  -o-animation: spin5-contract 0.9s ease-out 1 backwards;
  animation: spin5-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout li:nth-of-type(6) a:not(.clicked) span {
  -webkit-animation: spin6-contract 0.9s ease-out 1 backwards;
  -moz-animation: spin6-contract 0.9s ease-out 1 backwards;
  -ms-animation: spin6-contract 0.9s ease-out 1 backwards;
  -o-animation: spin6-contract 0.9s ease-out 1 backwards;
  animation: spin6-contract 0.9s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(1) a {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(2) a {
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  -o-animation-delay: 0.04s;
  animation-delay: 0.04s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(3) a {
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  -o-animation-delay: 0.08s;
  animation-delay: 0.08s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(4) a {
  -webkit-animation-delay: 0.12s;
  -moz-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(5) a {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -ms-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(6) a {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(1) a span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin1-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin1-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin1-expand 0.6s ease-out 1 backwards;
  -o-animation: spin1-expand 0.6s ease-out 1 backwards;
  animation: spin1-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(2) a span {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
  -webkit-animation: spin2-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin2-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin2-expand 0.6s ease-out 1 backwards;
  -o-animation: spin2-expand 0.6s ease-out 1 backwards;
  animation: spin2-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(3) a span {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation: spin3-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin3-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin3-expand 0.6s ease-out 1 backwards;
  -o-animation: spin3-expand 0.6s ease-out 1 backwards;
  animation: spin3-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(4) a span {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
  -webkit-animation: spin4-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin4-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin4-expand 0.6s ease-out 1 backwards;
  -o-animation: spin4-expand 0.6s ease-out 1 backwards;
  animation: spin4-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(5) a span {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation: spin5-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin5-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin5-expand 0.6s ease-out 1 backwards;
  -o-animation: spin5-expand 0.6s ease-out 1 backwards;
  animation: spin5-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.expand li:nth-of-type(6) a span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: spin6-expand 0.6s ease-out 1 backwards;
  -moz-animation: spin6-expand 0.6s ease-out 1 backwards;
  -ms-animation: spin6-expand 0.6s ease-out 1 backwards;
  -o-animation: spin6-expand 0.6s ease-out 1 backwards;
  animation: spin6-expand 0.6s ease-out 1 backwards;
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(1) a.clicked span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(2) a.clicked span {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(3) a.clicked span {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(4) a.clicked span {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(5) a.clicked span {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
#testfield .flyout-wrap .flyout.fade li:nth-of-type(6) a.clicked span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#testfield .flyout-wrap .flyout-btn {
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 8px 0, rgba(0, 0, 0, 0.2) 0 0 0 1px, inset rgba(0, 0, 0, 0.3) 0 0 0 1px, inset rgba(255, 255, 255, 0.3) 0 1px 0 1px;
  text-indent: -99999px;
  overflow: hidden;
  background: #f76f54;
  background: -webkit-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -moz-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -ms-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: -o-linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  background: linear-gradient(top, #f76f54 0%, #dd3535 49%, #d32121 51%, #c61f1f 100%);
  z-index: 9999;
  outline: none;
}
#testfield .flyout-wrap .flyout-btn span {
  display: block;
  height: 36px;
  width: 36px;
  background: url(http://sparanoid.com/lab/path-menu/cross.svg) no-repeat center center;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  transition: transform .4s ease;
}
#testfield .flyout-wrap .flyout-btn.btn-rotate span {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#testfield .flyout-wrap .ani-expand 0% {
  top: 150px;
}
#testfield .flyout-wrap .ani-expand 50% {
  top: 0px;
}
#testfield .flyout-wrap .ani-expand 70% {
  top: 35px;
}
#testfield .flyout-wrap .ani-expand 100% {
  top: 30px;
}
#testfield .flyout-wrap .ani-contract 0% {
  top: 30px;
}
#testfield .flyout-wrap .ani-contract 40% {
  top: -15px;
}
#testfield .flyout-wrap .ani-contract 100% {
  top: 150px;
}
#testfield .flyout-wrap .ani-clicked 0% {
  -webkit-transform: scale(1);
  opacity: 1;
}
#testfield .flyout-wrap .ani-clicked 100% {
  -webkit-transform: scale(5);
  opacity: 0;
}
@-webkit-keyframes expand {
  0% {
    top: 150px;
  }
  50% {
    top: 0px;
  }
  70% {
    top: 35px;
  }
  100% {
    top: 30px;
  }
}
@-moz-keyframes expand {
  0% {
    top: 150px;
  }
  50% {
    top: 0px;
  }
  70% {
    top: 35px;
  }
  100% {
    top: 30px;
  }
}
@-webkit-keyframes contract {
  0% {
    top: 30px;
  }
  40% {
    top: -15px;
  }
  100% {
    top: 150px;
  }
}
@-moz-keyframes contract {
  0% {
    top: 30px;
  }
  40% {
    top: -15px;
  }
  100% {
    top: 150px;
  }
}
@-webkit-keyframes clicked {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
    top: 30px;
  }
  90% {
    top: 30px;
  }
  99% {
    -webkit-transform: scale(6);
    opacity: 0;
    top: 150px;
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes clicked {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
    top: 30px;
  }
  90% {
    top: 30px;
  }
  99% {
    -moz-transform: scale(6);
    opacity: 0;
    top: 150px;
  }
  100% {
    -moz-transform: scale(0);
  }
}
@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
    top: 30px;
  }
  90% {
    opacity: 0;
    top: 30px;
  }
  99% {
    -webkit-transform: scale(0);
    top: 150px;
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes fade {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
    top: 30px;
  }
  90% {
    opacity: 0;
    top: 30px;
  }
  99% {
    -moz-transform: scale(0);
    top: 150px;
  }
  100% {
    -moz-transform: scale(0);
  }
}
#testfield .flyout-wrap .ani-spin1-expand 0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#testfield .flyout-wrap .ani-spin1-expand 60% {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
#testfield .flyout-wrap .ani-spin1-expand 100% {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
#testfield .flyout-wrap .ani-spin2-expand 0% {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
#testfield .flyout-wrap .ani-spin2-expand 60% {
  -webkit-transform: rotate(-342deg);
  -moz-transform: rotate(-342deg);
  -ms-transform: rotate(-342deg);
  -o-transform: rotate(-342deg);
  transform: rotate(-342deg);
}
#testfield .flyout-wrap .ani-spin2-expand 100% {
  -webkit-transform: rotate(-342deg);
  -moz-transform: rotate(-342deg);
  -ms-transform: rotate(-342deg);
  -o-transform: rotate(-342deg);
  transform: rotate(-342deg);
}
#testfield .flyout-wrap .ani-spin3-expand 0% {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
#testfield .flyout-wrap .ani-spin3-expand 60% {
  -webkit-transform: rotate(-324deg);
  -moz-transform: rotate(-324deg);
  -ms-transform: rotate(-324deg);
  -o-transform: rotate(-324deg);
  transform: rotate(-324deg);
}
#testfield .flyout-wrap .ani-spin3-expand 100% {
  -webkit-transform: rotate(-324deg);
  -moz-transform: rotate(-324deg);
  -ms-transform: rotate(-324deg);
  -o-transform: rotate(-324deg);
  transform: rotate(-324deg);
}
#testfield .flyout-wrap .ani-spin4-expand 0% {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
#testfield .flyout-wrap .ani-spin4-expand 60% {
  -webkit-transform: rotate(-306deg);
  -moz-transform: rotate(-306deg);
  -ms-transform: rotate(-306deg);
  -o-transform: rotate(-306deg);
  transform: rotate(-306deg);
}
#testfield .flyout-wrap .ani-spin4-expand 100% {
  -webkit-transform: rotate(-306deg);
  -moz-transform: rotate(-306deg);
  -ms-transform: rotate(-306deg);
  -o-transform: rotate(-306deg);
  transform: rotate(-306deg);
}
#testfield .flyout-wrap .ani-spin5-expand 0% {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
#testfield .flyout-wrap .ani-spin5-expand 60% {
  -webkit-transform: rotate(-288deg);
  -moz-transform: rotate(-288deg);
  -ms-transform: rotate(-288deg);
  -o-transform: rotate(-288deg);
  transform: rotate(-288deg);
}
#testfield .flyout-wrap .ani-spin5-expand 100% {
  -webkit-transform: rotate(-288deg);
  -moz-transform: rotate(-288deg);
  -ms-transform: rotate(-288deg);
  -o-transform: rotate(-288deg);
  transform: rotate(-288deg);
}
#testfield .flyout-wrap .ani-spin6-expand 0% {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#testfield .flyout-wrap .ani-spin6-expand 60% {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
#testfield .flyout-wrap .ani-spin6-expand 100% {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
#testfield .flyout-wrap .ani-spin1-contract 0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#testfield .flyout-wrap .ani-spin1-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin1-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin2-contract 0% {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
#testfield .flyout-wrap .ani-spin2-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin2-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin3-contract 0% {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
#testfield .flyout-wrap .ani-spin3-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin3-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin4-contract 0% {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
#testfield .flyout-wrap .ani-spin4-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin4-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin5-contract 0% {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
#testfield .flyout-wrap .ani-spin5-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin5-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin6-contract 0% {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#testfield .flyout-wrap .ani-spin6-contract 50% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
#testfield .flyout-wrap .ani-spin6-contract 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
@-webkit-keyframes spin1-expand {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin2-expand {
  0% {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  60% {
    -webkit-transform: rotate(-342deg);
    -moz-transform: rotate(-342deg);
    -ms-transform: rotate(-342deg);
    -o-transform: rotate(-342deg);
    transform: rotate(-342deg);
  }
  100% {
    -webkit-transform: rotate(-342deg);
    -moz-transform: rotate(-342deg);
    -ms-transform: rotate(-342deg);
    -o-transform: rotate(-342deg);
    transform: rotate(-342deg);
  }
}
@-webkit-keyframes spin3-expand {
  0% {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  60% {
    -webkit-transform: rotate(-324deg);
    -moz-transform: rotate(-324deg);
    -ms-transform: rotate(-324deg);
    -o-transform: rotate(-324deg);
    transform: rotate(-324deg);
  }
  100% {
    -webkit-transform: rotate(-324deg);
    -moz-transform: rotate(-324deg);
    -ms-transform: rotate(-324deg);
    -o-transform: rotate(-324deg);
    transform: rotate(-324deg);
  }
}
@-webkit-keyframes spin4-expand {
  0% {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
  }
  60% {
    -webkit-transform: rotate(-306deg);
    -moz-transform: rotate(-306deg);
    -ms-transform: rotate(-306deg);
    -o-transform: rotate(-306deg);
    transform: rotate(-306deg);
  }
  100% {
    -webkit-transform: rotate(-306deg);
    -moz-transform: rotate(-306deg);
    -ms-transform: rotate(-306deg);
    -o-transform: rotate(-306deg);
    transform: rotate(-306deg);
  }
}
@-webkit-keyframes spin5-expand {
  0% {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  60% {
    -webkit-transform: rotate(-288deg);
    -moz-transform: rotate(-288deg);
    -ms-transform: rotate(-288deg);
    -o-transform: rotate(-288deg);
    transform: rotate(-288deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
    -moz-transform: rotate(-288deg);
    -ms-transform: rotate(-288deg);
    -o-transform: rotate(-288deg);
    transform: rotate(-288deg);
  }
}
@-webkit-keyframes spin6-expand {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}
@-moz-keyframes spin1-expand {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes spin2-expand {
  0% {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  60% {
    -webkit-transform: rotate(-342deg);
    -moz-transform: rotate(-342deg);
    -ms-transform: rotate(-342deg);
    -o-transform: rotate(-342deg);
    transform: rotate(-342deg);
  }
  100% {
    -webkit-transform: rotate(-342deg);
    -moz-transform: rotate(-342deg);
    -ms-transform: rotate(-342deg);
    -o-transform: rotate(-342deg);
    transform: rotate(-342deg);
  }
}
@-moz-keyframes spin3-expand {
  0% {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  60% {
    -webkit-transform: rotate(-324deg);
    -moz-transform: rotate(-324deg);
    -ms-transform: rotate(-324deg);
    -o-transform: rotate(-324deg);
    transform: rotate(-324deg);
  }
  100% {
    -webkit-transform: rotate(-324deg);
    -moz-transform: rotate(-324deg);
    -ms-transform: rotate(-324deg);
    -o-transform: rotate(-324deg);
    transform: rotate(-324deg);
  }
}
@-moz-keyframes spin4-expand {
  0% {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
  }
  60% {
    -webkit-transform: rotate(-306deg);
    -moz-transform: rotate(-306deg);
    -ms-transform: rotate(-306deg);
    -o-transform: rotate(-306deg);
    transform: rotate(-306deg);
  }
  100% {
    -webkit-transform: rotate(-306deg);
    -moz-transform: rotate(-306deg);
    -ms-transform: rotate(-306deg);
    -o-transform: rotate(-306deg);
    transform: rotate(-306deg);
  }
}
@-moz-keyframes spin5-expand {
  0% {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  60% {
    -webkit-transform: rotate(-288deg);
    -moz-transform: rotate(-288deg);
    -ms-transform: rotate(-288deg);
    -o-transform: rotate(-288deg);
    transform: rotate(-288deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
    -moz-transform: rotate(-288deg);
    -ms-transform: rotate(-288deg);
    -o-transform: rotate(-288deg);
    transform: rotate(-288deg);
  }
}
@-moz-keyframes spin6-expand {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}
@-webkit-keyframes spin1-contract {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2-contract {
  0% {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin3-contract {
  0% {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin4-contract {
  0% {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin5-contract {
  0% {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin6-contract {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin1-contract {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin2-contract {
  0% {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin3-contract {
  0% {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin4-contract {
  0% {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin5-contract {
  0% {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin6-contract {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.bsap {
  position: fixed;
  top: 0;
  right: 0;
  width: 130px;
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bsap:hover {
  background: rgba(255, 255, 255, 0.95);
}
.bsap a {
  color: #555;
}
.bsap a:hover {
  color: #000;
}
.bsa_it_t {
  font-size: 14px;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.bsa_it_d {
  font-size: 12px;
  display: block;
  padding: 5px 0;
}
.bsa_it_p {
  font-size: 10px;
}
.bsa_it_p a {
  opacity: .5;
}
#tool-attributes-bar {
  position: relative;
  position: absolute;
  bottom: 0px;
  font-size: 16px;
  white-space: nowrap;
}
#tool-attributes-bar #pen-attribute-box {
  position: absolute;
}
#tool-attributes-bar #erasor-attribute-box {
  position: absolute;
}
