#meta {
margin: 10px;
position: relative;
background: grey;
}

#meta #pimage {
height: 80px;
width: 80px;
position: absolute;
left: 10px;
top: 10px;
}

#meta #pname {
display: block;
margin-left: 10px;
font-size: 24px;
font-weight: 500;
line-height: 30px;
color: white;
}

.container {
margin-left: 95px;
}

.statistic {
width: 80px;
display: inline-block;
margin: 5px;
}

.profile-number {
line-height: 35px;
text-align: center;
font-size: 25px;
background: rgb(0, 173, 255);
color: white;
}

.profile-type {
line-height: 20px;
font-size: 12px;
color: white;
background: rgb(50, 117, 202);
text-align: center;
}

#images {
margin-left: 3px;
margin-bottom: 50px;
float: left;
width: 100%;
text-align: center;
}

#images .image {
width: 25%;
display: block;
background-color: white;
overflow: hidden;
float: left;
margin-top: 3px;
border: solid 1px #e5e5e5;
margin-right: 3px;
}


header #follow {
position: absolute;
right: 5px;
top: 10px;
background-color: #bd2e3b;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#b52c38), to(#bd2e3b));
background-image: -moz-linear-gradient(#b52c38, #bd2e3b);
background-image: -ms-linear-gradient(#b52c38, #bd2e3b);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b52c38), color-stop(100%, #bd2e3b));
background-image: -webkit-linear-gradient(#b52c38, #bd2e3b);
background-image: -o-linear-gradient(#b52c38, #bd2e3b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52c38', endColorstr='#bd2e3b', GradientType=0)";
background-image: linear-gradient(#b52c38, #bd2e3b);
height: 20px;
line-height: 20px;
font-size: 20px;
border-radius: 5px;
color: white;
padding: 5px 11px;
border: solid 1px #8c222b;
}
