@import "base";
@light: #e5e5e5;
.clearfix {
        display: block;
}
.clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	height: 100%;
	width: 100%;
	#info {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -35px;
		margin-left: -35px;
		border-radius: 10px;
		height: 23px;
		width: 50px;
		padding: 24px 10px;
		text-align: center;
		.trans-background(#000000, 0.8);
		color: white;
		span {
			position: absolute;
			left: 0;
			bottom: 10px;
			width: 100%;
			display: block;
			color: white;
			line-height: 20px;
			font-size: 17px;
		}
		#loading {
			position: absolute;
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url(/img/loading.gif);
			background-origin: content-box;
			top: 9px;
			left: 16px;
			height: 25px;
			width: 25px;
			padding: 5px;


		}
	}
	#error {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -100px;
		border-radius: 10px;
		height: 60px;
		width: 180px;
		padding: 15px 10px;
		text-align: center;
		.trans-background(#000000, 0.8);
		color: white;
		font-size: 18px;
	}
	#caption {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -90px;
		margin-left: -120px;
		border-radius: 10px;
		height: 180px;
		width: 240px;
		padding: 0px;
		text-align: center;
		.trans-background(#000000, 0.8);
		color: white;
		font-size: 22px;
		#close {
			position: absolute;
			top: -10px;
			right: -10px;
			height: 25px;
			width: 25px;
			padding: 2px;
			background-image: url(/img/close.png);
			background-color: white;
			background-origin: content-box;
			background-repeat: no-repeat;
			border-radius: 100px;
			background-size: 100%;
		}
		#title {
			display: block;
			margin-top: 10px;
			padding: 5px;
			font-weight: bold;
			line-height: 22px;
			height: 22px;
		}
		textarea {
			width: 190px;
			height: 50px;
			border-radius: 5px;
			padding: 5px;
			margin: 5px;
			font-family: inherit;
			font-size: inherit;
			outline:none;
			resize: none;
		}
		#submit {
			display: block;
			font-size: 20px;
			width: 190px;
			padding: 5px;
			margin: 5px auto;
			border-radius: 5px;
			border:solid 1px darken(@headercolor,10);
			.vertical(@headercolor,darken(saturate(@headercolor,10),10));
		}
	}
}

/**
* Header
*/
header {
	z-index: 1;
	#home {
		position: absolute;
		left: 5px;
		top: 5px;
		.vertical(lighten(@headercolor, 0%), lighten(@headercolor, 2%));
		height: 20px;
		line-height: 17px;
		font-size: 17px;
		border-radius: 5px;
		color: white;
		padding: 5px 11px;
		border: solid 1px darken(@headercolor, 10%);
	}
	#follow {
		position: absolute;
		right: 5px;
		top: 5px;
		.vertical(lighten(@headercolor, 0%), lighten(@headercolor, 2%));
		height: 20px;
		line-height: 17px;
		font-size: 17px;
		border-radius: 5px;
		color: white;
		padding: 5px 11px;
		border: solid 1px darken(@headercolor, 10%);
	}
}
footer {
	margin-top: 20px;
	border-top: dashed 1px @headercolor;
	height: 30%;
	background-color: #e5e5e5;
}

#main{
    background-color: #efefef;
    margin-top: 2px;
    min-height: 100%;
    #profile-header{
        position: relative;
        margin-top: 2px; 
        border-radius: 15px 15px 0 0;
        border: 1px solid #ddd;
        height: 150px;
        width: 100%;
        background: url(/img/sky.jpg);
        background-size: 100% auto;
        #pimage{
            z-index: 2;
            position: absolute;
            border-radius: 100%;
            left: 10%;
            bottom: 10px;
            width: 80px;
            height: 80px;
            border: 3px solid white;
        }
        #name-container{
            position: absolute;
            background: black;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 24px;
            width: 100%;
            text-align: center;
            padding-left: 10%;
            bottom: 0px;
            opacity: 0.5;
        }
    }

    .metacontainer{
        width: 250px;
        float: left;
        font-size: 24px;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 3px;
        color: white;
        table{
            width: 100%;
            td{
                text-align: right;
                padding-right: 5px;
                vertical-align: middle;
                border: 1px solid white;
                width: 33%;
                height: 30px;
                background-color: #777;
                text-overflow: ellipsis;
            }
            #img-count{
                background: url(/img/senceui/profile/drawSG_ui-02.png) center no-repeat;
                background-size: 100% auto;
            }
            #follower-count{
                background: url(/img/senceui/profile/drawSG_ui-03.png) center no-repeat;
                background-size: 100% auto;
            }
            #following-count{
                background: url(/img/senceui/profile/drawSG_ui-04.png) center no-repeat;
                background-size: 100% auto;
            }
        }
    }
    #action-bar{
        float: right;
        width: 80px;
        padding: 3px;
        #show-grid-action{
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(/img/grid.png) center;
            background-size: 90% auto;
        }
        #show-list-action{
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(/img/list.png) center;
            background-size: 90% auto;
        }
        #show-grid-action{
            &.actived-action{
                background: url(/img/grid-actived.png) center !important;
                background-size: 90% auto !important;
            } 
        }
        #show-list-action{
            &.actived-action{
                background: url(/img/list-actived.png) center !important;
                background-size: 90% auto !important;
            } 
        }
        #show-list-action{
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
            background: url(/img/list.png) center;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
    #image-grid{
        margin-left: 5px;
        .img-wrapper{
            display: inline-block;
            width: 33%;
            .img-item{
                padding: 5px;
                .gridimage{
                    width: 100%;
                    margin:10px;
                }
            }
        }
        
    }
    #image-list{
        display: none;
        #meta {
            margin: 5px;
            height:50px;
            padding-left: 50px;
            position: relative;
            #uimage {
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    left: 5px;
                    top: 10px;
            }
            #uname {
                    display: block;
                    float: left;
                    line-height: 50px;
                    font-size: 12px;
                    color: #006a92;
                    font-weight: 600;
            }
            .timestamp {
                    display: block;
                    position: relative;
                    float: right;
                    margin-right:15px;
                    line-height: 50px;
                    font-size: 12px;
            }
            .timestamp:before {
                content: "";
                display: block;
                position: absolute;
                left: -20px;
                top: 16px;
                width: 16px;
                height: 16px;
                background-image: url("/img/timestamp.png")
            }
        }
        #image {
                margin: 5px 10px;
                img {
                        background-color: white;
                        width: 100%;
                }
        }
        #info {
                margin: 5px;
                font-size: 14px;
                .row {
                    position: relative;
                    width: 100%;
                    .icon {
                            width: 16px;
                            height: 16px;
                            padding: 2px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-origin: content-box;
                            background-size: 100%;
                            background-repeat: no-repeat;
                    }
                    .text {
                            line-height: 20px;
                            margin-left: 25px;
                    }
                }
                #likes {
                    .icon {
                            background-image: url(/img/heart.png);
                    }
                }
                #comments {
                    margin-top: 5px;
                    .icon {
                            background-image: url(/img/comment.png);
                    }
                    .text {
                        .comment-viewall{cursor:pointer; font-size: 12px; color: #aaa; padding: 5px 0px;text-decoration: none;  }
                        .cline{
                            .pimage {height: 16px; width: 16px;}
                            .comment-uname{
                                font-size: 12px;
                                color: #006a92;
                                font-weight: 600;padding: 0 5px;
                            }
                            .comment{font-size: 14px; color: #333;}
                        }
                    }
                }

        }
        #buttons {
                padding: 10px;
                .button {
                    height: 30px;
                    width: 35px;
                    float: left;
                    margin-right: 12px;
                    border-radius: 8px;
                    border: 1px solid #aaa;
                    &#like .btimage{
                        background: url(/img/senceui/profile/drawSG_ui-54.png) center no-repeat;
                        background-size: 60% auto;
                    }
                    &#share .btimage{
                        background: url(/img/share.png) center no-repeat;
                    }
                    &#comment .btimage{
                        background: url(/img/comment.png) center no-repeat;
                    }
                    &#delete .btimage{
                        background: url(/img/delete.png) center no-repeat;
                    }
                    &.liked .btimage{
                        background: url(/img/senceui/profile/drawSG_ui-55.png) center no-repeat !important;
                        background-size: 60% auto !important;
                    }
                    .btimage{
                        height: 30px;
                        text-align: center;
                    }
                    .vertical(white, #ddd);
                }

        }

    }
}   